name: irods-integration-tests
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  irods-integration-tests:
    name: iRODS Integration Tests
    runs-on: ubuntu-latest
    steps:
    
    - name: Setting up Go 1.21
      uses: actions/setup-go@v4
      with:
        go-version: ^1.21
      id: go

    - name: Checking out DTS
      uses: actions/checkout@v4

    - name: Set up MinIO
      uses: infleet/minio-action@v0.0.1
      with:
        port: "9000"
        version: "latest"
        username: "minioadmin"
        password: "minioadmin"

    - name: Set up iRODS and iRODS S3 API
      working-directory: etc/irods
      run: |
        docker compose -f docker-compose.yml up -d --build
        echo "Waiting for iRODS S3 API to be healthy..."
        for i in {1..30}; do
          STATUS=$(curl -s -o /dev/null -w '%{http_code}' http://localhost:9010/health)
          if [ "$STATUS" = "200" ]; then
            echo "iRODS S3 API is healthy."
            exit 0
          fi
          echo "iRODS S3 API status: $STATUS. Waiting..."
          sleep 10
        done
        echo "iRODS S3 API did not become healthy in time."
        exit 1

    - name: Building DTS
      run: go build -v ./...

    - name: Run iRODS Integration Tests
      env:
        DTS_TEST_WITH_IRODS: "true"
      run: go test -v ./integration_irods/...
